@charset "UTF-8";

header {
    width: 1000px;
    background-color: #ffcccc;
}

#wrapper {
    width: 1000px;
    display: flex;
}

#main {
    width: 700px;
    background-color: #ccffcc;
    padding: 0 0 15px 0;
}

#menu {
    width: 300px;
    background-color: #ccccff;
}

footer {
    width: 1000px;
    background-color: #ffccff;
}